<div style="display: flex; flex-direction: row; flex-wrap: wrap; flex: 280px; justify-content: space-around;">
  <% @products.each do |product|%>
    <%= render :partial => 'products/product_card', locals: { product: product}%>
  <%end%>
</div>