
<section style="background-color: #eee;">
<h4 class="mt-4 mb-5"><strong>Bestsellers</strong></h4>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; flex: 280px; justify-content: space-around;">
  <% @products.each do |product|%>
    <%= render :partial => 'product_card', locals: { product: product}%>
  <% end %>
  </div>
</section>